* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

svg, img {
  display: block;
  width: 100%;
}

@import 'partials/colors';
@import 'partials/layout';
@import 'partials/typography';
@import 'partials/spacing';
@import 'partials/menu';
@import 'partials/buttons';
@import 'partials/swipper';
@import 'partials/icons';
@import 'partials/footer';
@import 'partials/animations';


html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  position: 100vh;

  scroll-behavior: smooth;

  background-color: $white-dark;

}
